body {
  font-family: shabnam, "Segoe UI", Tahoma, sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    animation: maveInLeft 1s ease-out;

    @include respond(phone) {
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    word-spacing: 1.6rem;
    animation: maveInRight 1s ease-out;

    @include respond(phone) {
      word-spacing: .6rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
  color:transparent;
  letter-spacing: .1rem;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $defult-font-size;
  font-weight: 700;
}

.paragraph {
  font-size: $defult-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
